html,body { /* Controls all of the webpages to a standard */
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: Bahnschrift;
    margin: 0;
}

.BackgroundContainer { /* Sets each webpage's content to the same standard */
        height: 970px;
        background-position: center;
        padding-top: 78px;
        object-fit: cover;
        width:100%;
}

/*Adds images as backgrounds to the website */

#Home.BackgroundContainer {
    background-image: url("../Backgrounds/Background7.png");
}

#Artists.BackgroundContainer , #ThankYou.BackgroundContainer {
    background-color: rgb(11, 20, 35);
}

#Cookies.BackgroundContainer {
    background-image: url("../Backgrounds/Background8.png");
}

#Event.BackgroundContainer {
    background-image: url("../Backgrounds/Background2.png");
}

#Tickets.TicketContainer {
    background-image: url("../Backgrounds/Background15.png");
}

#Contact-Us.BackgroundContainer {
    background-image: url("../Backgrounds/Background11.png");
}

#Privacy-Policy.BackgroundContainer {
    background-image: url("../Backgrounds/Background13.png");
}

/* This part is responsible for styling the header */

.Header {
    height: 78px;
    width:100%;
    background-color: rgba(244,244,244,0.4);
    position: absolute;
    z-index: 1000;
}

.Header-Navigation {
    width: 1200px;
    height:78px;
    margin-right: auto;
    margin-left: auto;
    grid-area: HeaderItems;
}

#HeaderList, #FooterList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

/* Formats the header so that text is alligned to the right of the webpage */

#HeaderListItem1, #HeaderListItem2, #HeaderListItem3, #HeaderListItem4, #HeaderListItem5 {
    float: right;
}

/*Logo is formatted so that it is alligned to the left of the header */
#Logo {
    float: left;
}

#LogoText {
    font-size: 36pt;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    color: rgb(91,200,255);
    text-decoration: none;
    display: block;
}

#HeaderListText1, #HeaderListText2 , #HeaderListText3 , #HeaderListText4 , #HeaderListText5 {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;
  }
.active {
    color: rgb(91,200,255) !important;
}

h1 {
    text-align: center;
    font-size: 36pt;
    font-weight: bold;
    color: rgb(42, 19, 170);
    padding-top: 50px;
    margin: 0;
}

#HomeParagraph { 
    padding: 75px;
    font-size: 16pt;
    color: white;
    text-align: center;
} 

/* Sets background for multiple elements in the home page */

.ArtistContainer {
    height: 970px;
    background-image: url("../Backgrounds/Background4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.TicketContainer {
    height: 970px;
    background-image: url("../Backgrounds/Background1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.QuestionContainer {
    height: 970px;
    background-image: url("../Backgrounds/Background5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ArtistGrid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-auto-rows: auto;
    padding-top:50px;
    grid-template-areas:
    ". ArtistItemOne ArtistItemOne ArtistItemOne . ArtistItemTwo ArtistItemTwo ArtistItemTwo . ."
  }

  .ArtistGridPositionOne {
    grid-area: ArtistItemOne;
    text-align: center;
  }
  
  .ArtistGridPositionTwo {
      grid-area: ArtistItemTwo;
      color:white;
      text-align: center;
      font-size: 16pt;
  }

  /* Styles all of the head titles of all webpages to the same standard */

  #ArtistTitle, #BackgroundTitle, #TicketTitle1,#TicketTitle2 , #QuestionTitle, #ArtistName, #EventTitle1, #EventTitle2,#EventTitle3 , #ContactUsTitle1, #ContactUsTitle2, #ThankYouTitle, #CookiesTitle1, #CookiesTitle2, #CookiesTitle3, #PrivacyPolicyTitle {
      font-size: 36pt;
      color: rgb(91,200,255);
  }

  #FactTitle1, #FactTitle2, #AchievementTitle {
      font-size: 16pt;
      color: rgb(91,200,255);
  }

  #Fact1, #Fact2, #Achievement {
      font-size: 14pt;
  }

.ArtistContainer , .TicketContainer, .background {
    border-bottom: 1px solid white;
}

/*This part is responsible for styling the footer */

.Footer {
    width:100%;
    height: 100px;
    background-color: rgba(91,200,255,0.7);
    border-top: 2px solid white;
}

.BackgroundGrid {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-auto-rows: auto;
    padding-top:25px;
    grid-template-areas:
    ". . . . . . . BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo . . . . . ."
  }
  .ContactBackgroundGrid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-auto-rows: auto;
    padding-top:25px;
    grid-template-areas:
    ". . ContactItemOne ContactItemOne ContactItemOne . ContactItemTwo ContactItemTwo ContactItemTwo ."
  }

  .EventBackgroundGrid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-auto-rows: auto;
    padding-top:25px;
    grid-template-areas:
    ". EventPageItemOne EventPageItemOne EventPageItemOne EventPageItemOne . EventPageItemTwo EventPageItemTwo EventPageItemTwo ."
  }
  .ArtistBackgroundGrid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(5,16%);
    padding-top:75px;
    grid-template-areas:
    ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne . ."
    ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne . ."
    "ArtistPagePositionFour ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne . ArtistPagePositionFive"
    ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . . . . . "
    ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . . . . . "
    ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionTwo ArtistPagePositionTwo ArtistPagePositionTwo . ."
  }

  .BackgroundGridPositionTwo {
    grid-column: 8 / 14;
    grid-row: 4 / 8;
    color: white;
    text-align: center;
    font-size:16pt;
    grid-area: BackgroundItemTwo;
  }

.TicketGrid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-auto-rows: auto;
    padding-top: 75px;
    grid-template-areas:
    ". TicketItemOne TicketItemOne TicketItemOne . TicketItemTwo TicketItemTwo TicketItemTwo TicketItemTwo ."
    ". . . . . TicketItemThree TicketItemThree TicketItemThree TicketItemThree ."
}

.TicketGridPositionOne {
    grid-area: TicketItemOne;
    color: white;
    text-align: center;
    font-size: 16pt;
}
.TicketGridPositionTwo {
    grid-area: TicketItemTwo;
    color: white;
    text-align: center;
    font-size: 12pt;
}
.TicketGridPositionThree {
    grid-area: TicketItemThree;
    color: white;
    text-align: center;
    font-size: 16pt;
}

/*Table styling */

table {
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
  }

table, th, td {
    border: 1px solid white;
  }

th {
    font-size: 14pt;
    width: 150px;
    height:75px;
}

.QuestionGrid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-auto-rows: auto;
    padding-top: 50px;
    grid-template-areas:
    ". . . QuestionItemOne QuestionItemOne QuestionItemOne QuestionItemOne . . ."
  }

.QuestionGridPositionOne {
    grid-area: QuestionItemOne;
    color: white;
    text-align: center;
    font-size:16pt;
}

/* Button styling */

.button {
    background-color: rgb(30,30,30);
    border: 2px solid black;
    color: white;
    padding: 25px 75px;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 100px;
    white-space: nowrap;
}

#ArtistButton.button {
    top: 0;
    left: 100px;
    font-size: 16pt;
}

/*Footer styling that sets the text to be centered */

#FooterList {
    text-align:center;
}
#FooterListItem1, #FooterListItem2, #FooterListItem3 {
    display: inline-block;
}
#FooterListText1, #FooterListText2, #FooterListText3 {
    display: block;
    color: white;
    text-align: center;
    padding: 32px 20px;
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;
}


/* Artists */

.ArtistPositionOne {
    grid-area: ArtistPagePositionOne;
    color: white;
    text-align: center;
    font-size: 16pt;
}

.ArtistPositionTwo {
    grid-area:ArtistPagePositionTwo;
    margin-left: 40px;
}

.ArtistPositionThree {
    max-width:700px;
    grid-area:ArtistPagePositionThree;
    background-image: url("../Backgrounds/Spotlight_Artist.png");
    border: 1pt solid rgb(198, 198, 198);
}
#ArtistImage {
    position:relative;
    padding-left:75px;
}
.ArtistPositionFour {
    grid-area:ArtistPagePositionFour;
}

.ArtistPositionFive {
    grid-area:ArtistPagePositionFive;
}

#ArrowImage1, #ArrowImage2 {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}


/* Event */

.EventPositionOne {
    grid-area: EventPageItemOne;
    color: white;
    text-align: left;
    font-size: 16pt;
}

.EventPositionTwo {
    grid-area: EventPageItemTwo;
    color: white;
    text-align: left;
    font-size: 16pt;
}

/* Contact-Us */

.ContactUsPositionOne {
    grid-area:ContactItemOne;
    color: white;
    text-align: left;
    font-size: 16pt;
}

.ContactUsPositionTwo {
    grid-area:ContactItemTwo;
    color: white;
    text-align: left;
    font-size: 16pt;
}

form input[type=text] {
    width:70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16pt;
}

form input[type=submit] {
    width:70%;
    height: 20%;
    font-size: 16pt;
    font-family: Bahnschrift;
}

form input[type=text]:focus, form input[type=submit]:focus {
    border: 3px solid rgb(91,155,213);
}

/* Cookies */

.CookiesPositionOne {
    grid-column: 8 / 14;
    grid-row: 1;
    color: white;
    text-align: center;
    font-size: 16pt;

}

.CookiesPositionTwo {
    grid-column: 4 / 9;
    grid-row: 2 / 15;
    color: white;
    text-align: center;
    font-size: 16pt;
}

.CookiesPositionThree {
    grid-column: 12 / 18;
    grid-row: 2 / 15;
    color: white;
    text-align: center;
    font-size: 16pt;
}

.DropDownButton {
    display: block;
    color: white;
    text-align: center;
    padding:17px;
    text-decoration: none;
    font-size: 24pt;
    font-weight: bold;
    border: none;
    outline:none;
    border:none;
    margin: 0;
}
 
.DropDown {
    float: right;
}
 
.DropDownLinks {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
}
 
.DropDownLinks a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
 
.DropDownLinks a:hover {background-color: white;}
.DropDown:hover .DropDownLinks {display: block;}

.DropDown {
    display:none;
}

@media only screen and (min-width: 1366px)
and (max-width: 1700px)
{
    .ArtistPositionTwo {
        margin-left: 0px;
    }
    .ArtistBackgroundGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(5,16%);
        padding-top:75px;
        grid-template-areas:
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        "ArtistPagePositionFour ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionFive"
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . . . . . "
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . . . . . "
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . ArtistPagePositionTwo . . ."
      }
}
@media only screen and (min-width: 1280px)
and (max-width: 1365px)
{
    .BackgroundGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-auto-rows: auto;
        grid-template-areas:
        ". . . BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo  BackgroundItemTwo . . ."
    }
    #ArtistTitle, #BackgroundTitle, #TicketTitle1,#TicketTitle2 , #QuestionTitle, #ArtistName, #EventTitle1, #EventTitle2,#EventTitle3 , #ContactUsTitle1, #ContactUsTitle2, #ThankYouTitle, #CookiesTitle1, #CookiesTitle2, #CookiesTitle3, #PrivacyPolicyTitle {
        font-size: 28pt;
        color: rgb(91,200,255);
    }
    .BackgroundGridPositionTwo, .ArtistGridPositionTwo, .TicketGridPositionOne {
        font-size: 14pt;
    }
    .ArtistBackgroundGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(5,16%);
        padding-top:75px;
        grid-template-areas:
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        "ArtistPagePositionFour ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionFive"
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . . . . . "
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . . . . . "
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionTwo ArtistPagePositionTwo ArtistPagePositionTwo . ."
      }
      .ArtistPositionTwo {
        margin-left: 80px;
    }
    #ArtistImage {
        padding:0;
        margin:0;
    }
}

@media only screen and (max-width:1200px)
{
.Header-Navigation {
    width:100%;
    }
}
@media only screen and (min-width: 1024px)
and (max-width: 1279px)
{
    .BackgroundGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-auto-rows: auto;
        grid-template-areas:
        ". . . BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo  BackgroundItemTwo . . ."
    }
    #ArtistTitle, #BackgroundTitle, #TicketTitle1,#TicketTitle2 , #QuestionTitle, #ArtistName, #EventTitle1, #EventTitle2,#EventTitle3 , #ContactUsTitle1, #ContactUsTitle2, #ThankYouTitle, #CookiesTitle1, #CookiesTitle2, #CookiesTitle3, #PrivacyPolicyTitle {
        font-size: 24pt;
        color: rgb(91,200,255);
    }
    .BackgroundGridPositionTwo, .ArtistGridPositionTwo, .TicketGridPositionOne {
        font-size: 13pt;
    }
    #HeaderListText1, #HeaderListText2 , #HeaderListText3 , #HeaderListText4 , #HeaderListText5 {
        font-size: 18pt;
      }
    #LogoText {
        font-size: 30pt;
        padding-top: 15px;
        padding-left: 10px;
    }
    .button {
        top: 75px;
        padding: 20px 50px;
    }
    .ArtistBackgroundGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(5,16%);
        padding-top:75px;
        grid-template-areas:
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        "ArtistPagePositionFour ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionFive"
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . . . . "
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree . . . . "
        ". ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionThree ArtistPagePositionTwo . . ."
      }
    .ArtistPositionOne {
        font-size:12pt;
    }
    #ArtistImage {
        padding:0;
        margin:0;
    }
    #ArtistButton.button {
        top:40px;
        left:0px;
    }
}
@media only screen and (min-width: 768px)
and (max-width: 1023px)
{
    .BackgroundGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-auto-rows: auto;
        grid-template-areas:
        ". . BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo  BackgroundItemTwo BackgroundItemTwo . ."
    }
    #ArtistTitle, #BackgroundTitle, #TicketTitle1,#TicketTitle2 , #QuestionTitle, #ArtistName, #EventTitle1, #EventTitle2,#EventTitle3 , #ContactUsTitle1, #ContactUsTitle2, #ThankYouTitle, #CookiesTitle1, #CookiesTitle2, #CookiesTitle3, #PrivacyPolicyTitle {
        font-size: 24pt;
        color: rgb(91,200,255);
    }
    .BackgroundGridPositionTwo, .ArtistGridPositionTwo, .TicketGridPositionOne {
        font-size: 13pt;
    }
    #HeaderListText1, #HeaderListText2 , #HeaderListText3 , #HeaderListText4 , #HeaderListText5 {
        font-size: 16pt;
      }
    #LogoText {
        font-size: 26pt;
        padding-top: 20px;
        padding-left: 10px;
    }
    .button {
        top: 50px;
        padding: 15px 40px;
    }
    .ArtistGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-auto-rows: auto;
        padding-top:75px;
        grid-template-areas:
        ". ArtistItemOne ArtistItemOne ArtistItemOne . ArtistItemTwo ArtistItemTwo ArtistItemTwo ArtistItemTwo"
      }
      #ArtistGroupImage {
          max-width:250px;
      }
      .TicketGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-auto-rows: auto;
        padding-top: 50px;
        grid-template-areas:
        ". TicketItemOne TicketItemOne TicketItemOne . TicketItemTwo TicketItemTwo TicketItemTwo TicketItemTwo ."
        ". . . TicketItemThree TicketItemThree TicketItemThree TicketItemThree . . ."
    }
    .QuestionGridPositionOne {
        font-size: 14pt;
    }
    .ArtistBackgroundGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5,20%);
        padding-top:75px;
        grid-template-areas:
        ". ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        ". ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        "ArtistPagePositionFour ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionFive"
        ". . ArtistPagePositionTwo . ."
      }

      #ArtistButton.button {
          left:-75px;
          top:200px;
      }

    .ArtistPositionThree {
        display:none;
    }

}
@media only screen and (min-width: 375px)
and (max-width:767px)
{
    .BackgroundGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: auto;
        grid-template-areas:
        ". BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo ."
    }
    #ArtistTitle, #BackgroundTitle, #TicketTitle1,#TicketTitle2 , #QuestionTitle, #ArtistName,#EventTitle1,#EventTitle2,#EventTitle3, #ContactUsTitle1, #ContactUsTitle2, #ThankYouTitle, #CookiesTitle1, #CookiesTitle2, #CookiesTitle3, #PrivacyPolicyTitle {
        font-size: 22pt;
        color: rgb(91,200,255);
    }
    .BackgroundGridPositionTwo, .ArtistGridPositionTwo, .TicketGridPositionOne {
        font-size: 13pt;
    }
    #HeaderListText1, #HeaderListText2 , #HeaderListText3 , #HeaderListText4 , #HeaderListText5 {
        display:none;
      }
    #LogoText {
        font-size: 24pt;
        padding-top: 15px;
        padding-left: 10px;
    }
    .button {
        top: 25px;
        padding: 10px 25px;
    }
    .ArtistGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: auto;
        padding-top:75px;
        grid-row-gap:50px;
        grid-template-areas:
        ". ArtistItemTwo ArtistItemTwo ArtistItemTwo ."
        ". ArtistItemOne ArtistItemOne ArtistItemOne ."
      }
      #ArtistGroupImage {
          max-width: 200px;
      }
      .TicketGridPositionOne {
          display:none;
      }
      .TicketGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: auto;
        padding-top: 50px;
        grid-template-areas:
        "TicketItemTwo TicketItemTwo TicketItemTwo TicketItemTwo TicketItemTwo"
        "TicketItemThree TicketItemThree TicketItemThree TicketItemThree TicketItemThree"
    }
    .QuestionGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: auto;
        padding-top: 50px;
        grid-template-areas:
        ". QuestionItemOne QuestionItemOne QuestionItemOne ."
      }

    .QuestionGridPositionOne {
        font-size: 14pt;
    }
    .Header {
        height: 64px;
    }
    .Footer {
        height:64px;
    }
    #FooterListText1, #FooterListText2, #FooterListText3 {
        padding: 20px 15px;
        font-size: 12pt;
    }
    .EventPositionOne,.EventPositionTwo {
        font-size:14pt;
    }
    .EventBackgroundGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-auto-rows: auto;
        padding-top:25px;
        grid-template-areas:
        ". EventPageItemOne EventPageItemOne EventPageItemOne EventPageItemOne . EventPageItemTwo EventPageItemTwo EventPageItemTwo EventPageItemTwo"
      }
      .ArtistBackgroundGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5,20%);
        padding-top:75px;
        grid-template-areas:
        ". ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        ". ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        "ArtistPagePositionFour ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionFive"
        ". ArtistPagePositionTwo . . ."
      }

      #ArtistButton.button {
          left:-25px;
          top:250px;
      }

    .ArtistPositionThree {
        display:none;
    }
        .DropDown {
        display: block;
    }
}
@media only screen and (max-width:612px)
{
    #ArtistGroupImage {
        height:300px;
    }
}
@media only screen and (max-width: 500px)
{
    .EventPositionOne,.EventPositionTwo {
        font-size:12pt;
    }
    #EventTitle1,#EventTitle2, #EventTitle3, #ContactUsTitle1,#ContactUsTitle2 {
        font-size: 16pt;
    }
    .ContactUsPositionOne, .ContactUsPositionTwo {
        font-size: 12pt;
    }
}

@media only screen and (min-width: 320px)
and (max-width: 374px)
{
    .BackgroundGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: auto;
        grid-template-areas:
        "BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo BackgroundItemTwo"
    }
    #ArtistTitle, #BackgroundTitle, #TicketTitle1,#TicketTitle2 , #QuestionTitle, #ArtistName, #ContactUsTitle1, #ContactUsTitle2, #ThankYouTitle, #CookiesTitle1, #CookiesTitle2, #CookiesTitle3, #PrivacyPolicyTitle {
        font-size: 22pt;
        color: rgb(91,200,255);
    }
    .BackgroundGridPositionTwo, .ArtistGridPositionTwo, .TicketGridPositionOne {
        font-size: 12pt;
    }
    #HeaderListText1, #HeaderListText2 , #HeaderListText3 , #HeaderListText4 , #HeaderListText5 {
        display:none;
      }
    #LogoText {
        font-size: 24pt;
        padding-top: 15px;
        padding-left: 10px;
    }
    .button {
        top: 25px;
        padding: 10px 25px;
    }
    .ArtistGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: auto;
        padding-top:75px;
        grid-row-gap:50px;
        grid-template-areas:
        "ArtistItemTwo ArtistItemTwo ArtistItemTwo ArtistItemTwo ArtistItemTwo"
        ". . . . ."
        "ArtistItemOne ArtistItemOne ArtistItemOne ArtistItemOne ArtistItemOne"
      }
      #ArtistGroupImage {
          max-width: 200px;
      }
      .TicketGridPositionOne {
          display:none;
      }
      .TicketGridPositionTwo {
          font-size: 14pt;
      }
      .TicketGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: auto;
        padding-top: 50px;
        grid-template-areas:
        "TicketItemTwo TicketItemTwo TicketItemTwo TicketItemTwo TicketItemTwo"
        "TicketItemThree TicketItemThree TicketItemThree TicketItemThree TicketItemThree"
    }
    #Home.BackgroundContainer {
        height:525px;
    }
    .QuestionContainer {
        height:525px;
    }
    .TicketContainer {
        height: 725px;
    }
    .QuestionGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: auto;
        padding-top: 50px;
        grid-template-areas:
        "QuestionItemOne QuestionItemOne QuestionItemOne QuestionItemOne QuestionItemOne"
      }

    .QuestionGridPositionOne {
        font-size: 12pt;
    }
    .Header {
        height: 64px;
    }
    .Footer {
        height:64px;
    }
    #FooterListText1, #FooterListText2, #FooterListText3 {
        margin-top: 10px;
        padding: 10px;
        font-size: 12pt;
    }
    .th {
        font-size: 12pt;
    }
    #Event.BackgroundContainer {
        height:700px;
    }
    .EventBackgroundGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-auto-rows: auto;
        padding-top:25px;
        grid-template-areas:
        ". EventPageItemOne EventPageItemOne EventPageItemOne EventPageItemOne . EventPageItemTwo EventPageItemTwo EventPageItemTwo EventPageItemTwo"
      }

      .EventBackgroundGrid {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-auto-rows: auto;
        padding-top:25px;
        grid-template-areas:
        ". EventPageItemOne EventPageItemOne EventPageItemOne EventPageItemOne . EventPageItemTwo EventPageItemTwo EventPageItemTwo EventPageItemTwo"
      }
      .ArtistBackgroundGrid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5,20%);
        padding-top:75px;
        grid-template-areas:
        ". ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        ". ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ."
        "ArtistPagePositionFour ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionOne ArtistPagePositionFive"
        ". ArtistPagePositionTwo . . ."
      }

      #ArtistButton.button {
          left:-50px;
          top:275px;
      }

    .ArtistPositionThree {
        display:none;
    }
    #ContactUsTitle1,#ContactUsTitle2 {
        font-size: 14pt;
    }
    .ContactUsPositionOne, .ContactUsPositionTwo {
        font-size: 11pt;
    }
    .DropDown {
        display: block;
    }
}